openapi: 3.1.0
info:
  title: CloudHealth REST AWS Accounts Reports API
  description: The CloudHealth REST API provides programmatic access to multi-cloud cost management, AWS account configuration, perspectives (groupings), OLAP cost reports, asset search, and SSO configuration. Authentication uses Bearer tokens issued from the CloudHealth UI.
  version: 1.0.0
  contact:
    name: CloudHealth Support
    url: https://apidocs.cloudhealthtech.com/
  license:
    name: Proprietary
    url: https://www.broadcom.com/company/legal/terms-of-use
servers:
- url: https://chapi.cloudhealthtech.com
  description: CloudHealth REST API
security:
- bearerAuth: []
tags:
- name: Reports
  description: OLAP cost and usage reports.
paths:
  /olap_reports/cost/history:
    get:
      operationId: costHistoryReport
      summary: Cost history report
      description: Query the Cost History report with customizable dimensions and measures.
      tags:
      - Reports
      parameters:
      - name: dimensions
        in: query
        schema:
          type: string
      - name: measures
        in: query
        schema:
          type: string
      - name: interval
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Cost history result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
components:
  schemas:
    GenericResponse:
      type: object
      additionalProperties: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token issued from the CloudHealth UI.
x-generated-from: https://apidocs.cloudhealthtech.com/
x-generated-by: claude-crawl-2026-05-08
