openapi: 3.1.0
info:
  title: CloudHealth REST AWS Accounts Search API
  description: The CloudHealth REST API provides programmatic access to multi-cloud cost management, AWS account configuration, perspectives (groupings), OLAP cost reports, asset search, and SSO configuration. Authentication uses Bearer tokens issued from the CloudHealth UI.
  version: 1.0.0
  contact:
    name: CloudHealth Support
    url: https://apidocs.cloudhealthtech.com/
  license:
    name: Proprietary
    url: https://www.broadcom.com/company/legal/terms-of-use
servers:
- url: https://chapi.cloudhealthtech.com
  description: CloudHealth REST API
security:
- bearerAuth: []
tags:
- name: Search
  description: Asset search.
paths:
  /api/search:
    get:
      operationId: searchAssets
      summary: Search assets
      description: Build a search query that retrieves assets that match specific criteria.
      tags:
      - Search
      parameters:
      - name: name
        in: query
        schema:
          type: string
      - name: query
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
components:
  schemas:
    GenericResponse:
      type: object
      additionalProperties: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token issued from the CloudHealth UI.
x-generated-from: https://apidocs.cloudhealthtech.com/
x-generated-by: claude-crawl-2026-05-08
