openapi: 3.1.0
info:
  title: CloudHealth REST AWS Accounts API
  description: The CloudHealth REST API provides programmatic access to multi-cloud cost management, AWS account configuration, perspectives (groupings), OLAP cost reports, asset search, and SSO configuration. Authentication uses Bearer tokens issued from the CloudHealth UI.
  version: 1.0.0
  contact:
    name: CloudHealth Support
    url: https://apidocs.cloudhealthtech.com/
  license:
    name: Proprietary
    url: https://www.broadcom.com/company/legal/terms-of-use
servers:
- url: https://chapi.cloudhealthtech.com
  description: CloudHealth REST API
security:
- bearerAuth: []
tags:
- name: AWS Accounts
  description: AWS account configuration management.
paths:
  /v1/aws_accounts:
    get:
      operationId: listAwsAccounts
      summary: List AWS accounts
      description: Retrieve all configured AWS accounts with pagination support.
      tags:
      - AWS Accounts
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: per_page
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: List of AWS accounts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    post:
      operationId: enableAwsAccount
      summary: Enable an AWS account
      description: Enable an AWS Account in the CloudHealth Platform.
      tags:
      - AWS Accounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
  /v1/aws_accounts/{id}:
    get:
      operationId: getAwsAccount
      summary: Get an AWS account
      description: Fetch details for a single AWS account by ID.
      tags:
      - AWS Accounts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: AWS account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    put:
      operationId: updateAwsAccount
      summary: Update an AWS account
      description: Modify attributes of an existing AWS account configuration.
      tags:
      - AWS Accounts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
    delete:
      operationId: deleteAwsAccount
      summary: Delete an AWS account
      description: Remove an AWS account from the CloudHealth platform.
      tags:
      - AWS Accounts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted
components:
  schemas:
    GenericRequest:
      type: object
      additionalProperties: true
    GenericResponse:
      type: object
      additionalProperties: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token issued from the CloudHealth UI.
x-generated-from: https://apidocs.cloudhealthtech.com/
x-generated-by: claude-crawl-2026-05-08
